<!DOCTYPE html>
{% extends 'start_app/base.html' %}
{% block body_block %}
<div class="jumbotron">
	<form action="{% url 'start_app:login'%}" method="post">
		{% csrf_token %}
		<label for="username">Username</label>
		<input type="text" name="username" placeholder="Enter Your Username" id="username" /><br />
		<label for="password">Password</label>
		<input type="password" name="password" id="password" /><br />
		<input type="submit" name="Submit" value="Submit" />
	</form>
</div>

{% endblock %}
